<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studymore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Study More - Cats and Dogs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuizScoresActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".QuizActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".FlashCardActivity"
            android:label="Flash Cards"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EncyclopediaActivity"
            android:label="@string/title_activity_encyclopedia"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".FactsActivity"
            android:label="Cat and Dogs Facts"
            android:parentActivityName=".MainActivity" />
        <activity
        android:name=".ui.FlashCards.FlashCardsAdd"
        android:label="Flash Cards"
        android:parentActivityName=".FlashCardActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VideoActivity"
            android:label="Videos"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>